body {
    background-color: whitesmoke;
    color: #6998AB;
}

.tabs {
    color: #6998AB;
    font-size: 20px;
    font-family: monospace;

    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

/* h2 and all paragraphs */
.text {
    font-family: monospace;
}

/* social links under main headings */
.socials {
    width: 22px;
    height: auto;
}

#intro {
    font-size: 15px;
    width: 700px;
    /* text-align: justify 
    text-justify: inter-word */
}

#jellyfish {
    width: 500px;
    height: auto;
}

/* shrinks width of image when viewport <= 500px */
@media only screen and (max-width:500px) {
    #jellyfish {
        width: 125px;
    }
}

/* % of viewport when max viewport is <= 300px */
@media only screen and (max-width:300px) {
    #jellyfish {
        /* max-width: 75px; */
        width: 25%;
    }
}

/* #water {
    width: 100%;
    height: auto;
} */